a {
  text-decoration: none;
  //   color: $main-text-color;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
