:root {
  --white-color: #ffffff;
  --accent-color: #ff6b01;
  --title-color: #000000;
  --footer-color: #545454;
  --modal-color: #8c8c8c;
  --error-color: #ff001b;
  --btn-library: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  --pagination-color:#f4f4f4;
  --text-font: 'Roboto', sans-serif;
  --font-family: Roboto, sans-serif;
  --font-style: normal;
  --time: 250ms;
  --time-menu: 1250ms;
  --delay: cubic-bezier(0.4, 0, 0.2, 1);
}
