/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

//Base
@import './base/base';
@import './base/mixins';
@import './base/variables';
@import './base/container';

@import './base/mixins';
@import './base/placeholder';
@import './base/variables';

// components
@import './components/scrollup.scss';
@import './components/main';
@import './components/buttons';

// layout
@import './layout/footer';
@import './layout/header';
@import './layout/team-modal';
@import './layout/modal';
@import './layout/my-library';
@import './layout/library-header';
