{{#each this}}
  <li class='student-info'>
    <img class='student-img' src='{{image}}' alt='student-img' />

    <p class='info-item'>Name: <span class='info-item-student'>{{name}}</span></p>
    <p class='info-item'>Position: <span class='info-item-student'>{{position}}</span></p>

    <a class='info-item info-item-link' href='{{gitHub}}'>Github</a>

  </li>
{{/each}}