<section class="header overlay">
  <div class="container">
    <div class="navigation">
      <svg class="filmoteka" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <span class="logoName">Filmoteka</span>
      <ul class="headerList">
        <li><a class="navigationLink current" href="">HOME</a></li>
        <li><a class="navigationLink" href="">MY LIBRARY</a></li>
      </ul>
    </div>
    <form class="input-form">
     <div class="search">
        <input type="text" name="film-name" class="modal-form-input" placeholder="Поиск фильмов" />
        <button class="formBtn" type="submit">
          <svg class="magnifier" width="12px" height="12px">
           <use href="./images/sprite.svg#icon-search"></use>
          </svg>
       </button>
    </div>
  </form>
  </div>
</section>