<section class="header overlay">
  <div class="container">
    <svg class="filmoteka" width="24px" height="24px">
      <use href="./images/sprite.svg#icon-film-1-1"></use>
    </svg>
    <span >Filmoteka</span>
    <ul>
      <li><a class="navigation-link current" href="">HOME</a></li>
      <li><a class="navigationLink" href="">MY LIBRARY</a></li>
    </ul>
    <label for="#" class="input-label">
      <input type="text" name="film-name" class="modal-form-input" placeholder="Поиск фильмов" />
      <svg class="magnifier" width="12px" height="12px">
        <use href=""></use>
      </svg>
    </label>
  </div>
</section>
