<section class="header overlay">
  <div class="container">
      <div class="logotype">
        <svg class="filmoteka" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logoName">Filmoteka</span>
      </div>
      <div class="navigation">
        <ul class="headerList">
          <li class="headerItem" ><a class="navigationLink current" href=""><span class="navTitle">HOME</span></a></li>
          <li class="headerItem"><a class="navigationLink" href=""><span class="navTitle">MY LIBRARY</span></a></li>
       </ul>
      </div>
     <form class="input-form">
       <div class="search">
          <input type="text" name="film-name" class="modal-form-input" placeholder="Поиск фильмов" />
          <button class="formBtn" type="submit">
             <svg class="magnifier" width="12px" height="12px">
               <use href="./images/sprite.svg#icon-search"></use>
             </svg>
         </button>
       </div>
    </form>
  </div>
</section>