<section class="library">
  <div class="container">
    <div class="logo">
      <svg class="logo-icon" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <span class="logoName">Filmoteka</span>
      <ul class="navHeadList">
        <li><a class="home-link" href="">HOME</a></li>
        <li><a class="libraryLink" href="">MY LIBRARY</a></li>
      </ul>
    </div>
    <ul class="library_buttons">
      <li><button class="headerBtnLeft" type="button">WATCHED</button></li>
      <li><button class="headerBtnRight" type="button">QUEUE</button></li>
    </ul>
  </div>
</section>
