<header class="header_library">
  <div class="container">
    <div class="logo">
      <svg class="filmoteka" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-film-1-1"></use>
      </svg>
      <span class="logoName">Filmoteka</span>
    </div>
    <ul  class="navHeadList">
      <li><a class="navigation-link current" href="">HOME</a></li>
      <li><a class="navigationLink" href="">MY LIBRARY</a></li>
    </ul>
    <div class="library_buttons">
      <button class="headerBtn" type="button">WATCHED</button>
      <button class="headerBtn" type="button">QUEUE</button>
    </div>
  </div>
</header>
