<div class="team-modal-backdrop is-hidden" id="modal" team-modal>
  <div class="team-modal">
    <button class="btn-close" type="button" team-modal-close>
      <svg class="close-icon">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <form action="#" class="team-modal-form" id="tm">
      <div class="team-modal-header">
        <h2 class="team-modal-title">IT-BAND ISLAND</h2>
      </div>
      <div class="team-modal-info">
        <ul class="team-student-info">
          <!-- сюда рендерится team-modal.hbs -->
        </ul>
        <div class="team-button">
          <button type="button" class="team-modal-button" data-id="">LEAVE THE ISLAND</button>
        </div>
      </div>
    </form>
  </div>
</div>
