<section class="bodylibrary">
  <div class="container">
    <h1 class="gallery-title visually-hidden">Film's gallery</h1>

    <ul class="gallery-list">
      <li class="gallery-item">
        <a href="#" class="gallery-link">
          <img src="#" alt="Poster for #" class="gallery-img" />
          <h2 class="title-item">GREYHOUND</h2>
          <div class="wrapper-description">
            <ul class="description-list">
              <li class="description-genres">
                <span>Drama</span>
                <span class="genres-separator">,</span>
              </li>
              <li class="description-genres">
                <span> Action</span>
                <span class="genres-separator">,</span>
              </li>
            </ul>

            <span class="description-separator">|</span>
            <p class="description-yaer">2020</p>
            <p class="rating-library">9.5</p>
          </div>
        </a>
      </li>

      <li class="gallery-item">
        <a href="#" class="gallery-link">
          <img src="#" alt="Poster for #" class="gallery-img" />
          <h2 class="title-item">MONSTER HUNTER</h2>
          <div class="wrapper-description">
            <ul class="description-list">
              <li class="description-genres">
                <span>Drama</span>
                <span class="genres-separator">,</span>
              </li>
              <li class="description-genres">
                <span> Action</span>
                <span class="genres-separator">,</span>
              </li>
            </ul>

            <span class="description-separator">|</span>
            <p class="description-yaer">2020</p>
          </div>
        </a>
      </li>

      <li class="gallery-item">
        <a href="#" class="gallery-link">
          <img src="#" alt="Poster for #" class="gallery-img" />
          <h2 class="title-item">ONCE UPON A TIME... IN HOLLYWOOD</h2>
          <div class="wrapper-description">
            <ul class="description-list">
              <li class="description-genres">
                <span>Drama</span>
                <span class="genres-separator">,</span>
              </li>
              <li class="description-genres">
                <span> Comedy</span>
                <span class="genres-separator">,</span>
              </li>
            </ul>

            <span class="description-separator">|</span>
            <p class="description-yaer">2019</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="pagination-wrapper"></div>
  </div>
</section>
