.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  min-width: 113px;
  height: 44px;
  padding: 14px 8px;
  background-color: var(--white-color);
  border: 1px solid var(--title-color);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--title-color);

  &:hover,
  &:focus,
  &:active {
    background: var(--accent-color);
    color: var(--white-color);
    border: 1px solid var(--accent-color);
    font-weight: 500;

    cursor: pointer;
  }
}
.movie-add-queue {
  margin-left: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-button {
    min-width: 125px;
    padding: 13px 8px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-button {
    width: 136px;
    padding: 13px 10px;
  }
}
