// Перенести потом в папку с переменными
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
// Выше

.main {
  background: var(--white-color);
  min-height: calc(100vh - 290px);
}
.gallery-list {
  display: block;
  margin: -20px;
}

.gallery-link {
  color: inherit;
}

.gallery-item {
  margin: 20px;
}
.gallery-img {
  width: 280px;
  height: 398px;
  background-color: #dbd8d88e;
  margin-bottom: 10px;
  border-radius: 5px;
}
div.gallery-img {
  background-position: center;
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-image: url(../images/fon.png);
}
.title-item {
  margin-bottom: 5px;
  @include calculator(500, 12, 14);
  text-transform: uppercase;
}
.wrapper-description,
.description-list {
  display: flex;
  justify-content: start;
  align-items: baseline;

  // line-height: 0px;
  // word-spacing: 0px;
  // letter-spacing: 0px;
}

.description-genres:last-child {
  .genres-separator {
    display: none;
    color: rgb(206, 32, 32);
  }
}
.description-genres,
.description-separator,
.description-year {
  display: flex;
  @include calculator(500, 12, 16);
  color: var(--accent-color);
}
.genres-separator {
  margin-right: 3px;
}
.description-separator {
  margin: 0 5px;
}

.rating-library {
  display: flex;
  width: 36px;
  height: 16px;
  @include calculator(500, 12, 14);
  margin-left: 10px;

  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 300px);
  }
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .gallery-item {
    margin: 15px;
  }
  .gallery-img {
    width: 293px;
  }
  .title-item {
    width: 293px;
    // padding: 0 5px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-img {
    width: 274px;
  }
  .title-item {
    width: 274px;
  }
}
