.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.main {
  background: white;
  //   background: $--white-color;
}
.gallery-list {
  display: block;
  margin: -20px;
}
.gallery-item {
  margin: 20px;
  background: white;
  border-radius: 5px;
}
.gallery-img {
  width: 280px;
  height: 398px;
  background-color: grey;
  margin-bottom: 10px;
}
.title-item {
  margin-bottom: 5px;
}
.wrapper-description,
.description-list {
  display: flex;
}

.description-genres:last-child {
  .genres-separator {
    display: none;
    color: rgb(206, 32, 32);
  }
}
.genres-separator {
  margin-right: 3px;
}
.description-separator {
  margin: 0 5px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .gallery-item {
    margin: 15px;
  }
  .gallery-img {
    width: 293px;
  }
  .title-item {
    width: 293px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-img {
    width: 274px;
  }
  .title-item {
    width: 274px;
  }
}
