// Перенести потом в папку с переменными
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
// Выше

.main {
  background: var(--white-color);
  min-height: calc(100vh - 404px);
}
.gallery-list {
  margin-bottom: 40px;
  display: block;
  margin: -20px;
}

.gallery-link {
  color: inherit;
}

.gallery-item {
  margin: 20px;
}
.gallery-img {
  width: 280px;
  height: 398px;
  background-color: #dbd8d88e;
  margin-bottom: 10px;
  border-radius: 5px;
}
div.gallery-img,
div.picture {
  background-position: center;
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-image: url(../images/fon.png);
}

.title-item {
  margin-bottom: 5px;
  @include calculator(500, 12, 14);
  text-transform: uppercase;
}
.wrapper-description,
.description-list {
  display: flex;
  justify-content: start;
  align-items: baseline;

  // line-height: 0px;
  // word-spacing: 0px;
  // letter-spacing: 0px;
}

.description-genres:last-child {
  .genres-separator {
    display: none;
    color: rgb(206, 32, 32);
  }
}
.description-genres,
.description-separator,
.description-year {
  display: flex;
  @include calculator(500, 12, 16);
  color: var(--accent-color);
}
.genres-separator {
  margin-right: 3px;
}
.description-separator {
  margin: 0 5px;
}

.rating-library {
  display: flex;
  width: 36px;
  height: 16px;
  @include calculator(500, 12, 14);
  margin-left: 10px;

  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

/*!
 * TOAST UI Pagination
 * @version 3.4.1
 * @author NHN FE Development Team <dl_javascript@nhn.com>
 * @license MIT
 */
//  @charset 'utf-8';
//  .tui-pagination * {
//      -moz-user-select: none;
//      -webkit-user-select: none;
//      -ms-user-select: none;
//      user-select: none;
//  }
 
 .tui-ico-ellipsis, .tui-ico-first, .tui-ico-last, .tui-ico-next, .tui-ico-prev {
     overflow: hidden;
 }
 
 .tui-pagination {
     height:40px;
     margin: 14px 0 12px;
     line-height: normal;
     text-align: center;
     font-size: 0;
 }
 
 .tui-pagination .tui-page-btn {
     display: inline-block;
     position: relative;
     /* width: 40px;
     height: 40px; */
     padding: 5px 10px;
     margin-left: 0;
     color: var(--title-color);
     font-weight: 500;
     font-size: 12px;
     line-height: 1.333;
     text-decoration: none;
     vertical-align: middle;
     border-width: 1px 0;
     border-radius: 5px;
 }
 
 .tui-pagination .tui-page-btn:hover {
     background-color: var(--pagination-color);
 }
 
 .tui-pagination .tui-is-selected, .tui-pagination strong {
     color: var(--white-color);
     background: var(--accent-color);
     border-color: var(--accent-color);
     cursor: default;
 }
 
 .tui-pagination .tui-is-selected:hover {
     background-color: var(--accent-color);
 }
 
 .tui-pagination .tui-first-child.tui-is-selected, .tui-pagination strong.tui-first-child {
     margin-left: 0
 }
 
 
 
 .tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
     overflow: hidden;
     width: 30px;
     height: 30px;
     padding: 2px 10px;
     font-size: 0;
     line-height: 26px;
     white-space: nowrap;
     font-weight: normal;
     background-color: #F7F7F7;
 }
 
 .tui-pagination .tui-prev-is-ellip {
     border-right: 0
 }
 
 .tui-pagination .tui-next-is-ellip {
     border-left: 0
 }
 
 .tui-pagination .tui-first+.tui-prev, .tui-pagination .tui-next+.tui-last {
     border-left: 0
 }
 
 .tui-pagination .tui-ico-first, .tui-pagination .tui-ico-prev, .tui-pagination .tui-ico-next, .tui-pagination .tui-ico-last, .tui-pagination .tui-ico-ellip {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0YwN0I4MUNDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0YwN0I4MURDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RjA3QjgxQUM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RjA3QjgxQkM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlM+zvEAAAMuSURBVHjaxFdrS5RREH73Zako6kt92x8QRR+qXYjoQneTyKCoMAmKspLI6EMQFBjSxehCdLGixa5maHbZilIro9uH2C2IoF+w/6EstJnleXV2mvO+W6458CA+45mZc+aceV5jyWTSU7aEsJOwUXO5XK7A5fN5vWYFoZawXnOJRKLAufLEDbKTsCmC08nblN/izDy+Iu9h0TNwSw3OlbwLXIXBSSuK6avkNSp5h+JKSX4nInlRTC6g0kheGZG8ykheFZHcjClb0Gcs6nP08Ad+DkRwXlRMH9XUoLpl4C1OWhd22oZWuDhpZkxfOHlxuypCc+UooiimbMFz4Vwewukiqo0iqkOKKIrpO5x1EZy0biSsjeDMPDHvL8yYgCUbTUST971RtjjNaO7VDRxLYOcIHwm3Hes6sOaJ4C4ScoSWEk+voBV8AtdxYVYLJwc/Q9jmKOAy4RZhreDShCYIWZQFUzQdx61dB3HghPexkwr4xhAuqQAvCWsID/kUcaM/42l1Y815R/KicR2o4SuM0kdYfBcBWSN6CGMJZ1WgNzi1DNZwu74QFqNAXnMqLLmH6gN7S1iFvk4kXCV8FQEnERpVwPeElRgw7G8mfCMswqY4ToPQimtaK3xjTvcr7hcQZjz/vyuuX+iDUytkAXNQ2X7snm0q4TV21mgknofXs0/c/mlYw3fgWMToHixgPo6xHq+CbTqhF6/hhJF8AfpfJ57rDKw5TjhZin746DEH2oELwjYTgY6iAOvDIoNR2w5uFvreEPIC/tAKvoR7CFsQMLBdhEOiFdrYv1kNou2EA65B5NKP/6YFLl0YdS2IkRYEzyKmnknR7/Q/weBpQT9aVQu8TCYjtaIVk3JETqAFWrDB4W8WQydcDbPZrL4HUb97qVSqR4zhcYSb6k96MVXZPx5CNTS1BoZmUXwY7XuHt8yDaIIhWB+En4u8YJ7AMO9QFoLFb3sy4Yjyf8KceUGYQjg8El9EPw39KEUrylJAMDFPG7tnmw1/E1DWFrB4PSUcJFwx/HMJjzEd085X8I/JF+LjpR7PURt/Dzwg7Bb6UtYC9mL2dzr8nHiraxBJ+y3AAOpc//DIQNiHAAAAAElFTkSuQmCC) no-repeat 0 0;
     display: inline-block;
     vertical-align: middle;
     font-size: 0px;
 }
 
 .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
     padding: 0;
     line-height: 1;
 }
 
 .tui-pagination .tui-prev {
     margin-right: 10px;
 }
 
 .tui-pagination .tui-next {
     margin-left: 10px;
 }
 
 .tui-pagination .tui-ico-first {
     width: 11px;
     height: 10px;
     background-position: 0px 0px
 }
 
 .tui-pagination .tui-ico-prev {
     width: 6px;
     height: 10px;
     background-position: -26px 0px
 }
 
 .tui-pagination .tui-ico-next {
     width: 6px;
     height: 10px;
     background-position: -13px -24px
 }
 
 .tui-pagination .tui-ico-last {
     width: 11px;
     height: 10px;
     background-position: 0px -12px
 }
 
 .tui-pagination .tui-ico-ellip {
     width: 10px;
     height: 2px;
     margin-top: 20px;
     vertical-align: top;
     background-position: 0px -24px
 }
 
 .tui-pagination .tui-is-disabled:hover {
     background: #F7F7F7;
     cursor: default
 }
 
 .tui-pagination .tui-is-disabled .tui-ico-prev {
     background-position: -26px -12px
 }
 
 .tui-pagination .tui-is-disabled .tui-ico-first {
     background-position: -13px 0px
 }
 
 .tui-pagination .tui-is-disabled .tui-ico-next {
     background-position: -21px -24px
 }
 
 .tui-pagination .tui-is-disabled .tui-ico-last {
     background-position: -13px -12px
 }
 
 .tui-page-inputs {
     display: inline-block;
     vertical-align: top;
 }
 
 .tui-page-inputs .tui-page-input {
     display: inline-block;
     width: 10px;
     height: 12px;
     padding: 8px 0 6px;
     font-size: 12px;
     text-align: center;
     color: var(--title-color);
     border: 0;
     outline: none;
 }
 
 .tui-page-inputs .tui-page-current {
     color: var(--accent-color)
 }
 
 .tui-page-separator {
     display: inline-block;
     font-size: 12px;
     height: 12px;
     padding: 8px 0 6px;
     vertical-align: top
 }
 


@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 375px);
  }
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
  }
  .gallery-item {
    margin: 15px;
  }
  .gallery-img {
    width: 293px;
  }
  .title-item {
    width: 293px;
    // padding: 0 5px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-img {
    width: 274px;
  }
  .title-item {
    width: 274px;
  }
}
