#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    padding: 1px 1px 1px; /* отступы */
    background: #aaa;
    border-radius: 50%; /* скругление углов */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    left: 10px; /* отступ слева */
    bottom: 15px; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
    }