#scrollup {
  position: fixed; /* фиксированная позиция */
  opacity: 0.5; /* прозрачность */
  padding: 1px 1px 1px; /* отступы */
  background: #aaa;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 50%; /* скругление углов */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid #ff6b01;
  right: 10px; /* отступ слева */
  bottom: 15px; /* отступ снизу */
  display: none; /* спрятать блок */
  cursor: pointer;
}
