.overlay {
  width: auto;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header_desktop_black.jpg);
}

//==========================================

.library {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header_desktop_red.jpg);
}
.library_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 65px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 49px;
}
.headerBtnLeft {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 36px;
  margin-right: 20px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.headerBtnRight {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 36px;
  border-radius: 5px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
//============================
.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 45px;
  min-width: 45px;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
//   .header .container{
//       position: relative;
//   }
.box_3 {
  // position: absolute;
  top: 0px;
  right: 0px;
  margin-left: auto;
  background: transparent;
  margin-top: 0;
}
.light-theme {
  background-color: #fff;
  color: #333333;
}

.dark-theme {
  background-color: #333333;
  color: #fff;
}

.toggle_switch {
  width: 70px;
  height: 30px;
  position: relative;
}

input[type='checkbox'].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing 0.35s ease-in-out forwards;
  animation: resetRing 0.35s ease-in-out forwards;
}

input[type='checkbox'].switch_3:checked + svg.checkbox .outer-ring {
  -webkit-animation: animateRing 0.35s ease-in-out forwards;
  animation: animateRing 0.35s ease-in-out forwards;
}

input[type='checkbox'].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
}

input[type='checkbox'].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
  transform: translateX(-200%) rotate(180deg);
}

.library {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header_desktop_red.jpg);
}
.library_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 65px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 49px;
}
.headerBtnLeft {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 36px;
  margin-right: 20px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.headerBtnRight {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 36px;
  border-radius: 5px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
//============================
.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 45px;
  min-width: 45px;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
//   .header .container{
//       position: relative;
//   }
.box_3 {
  // position: absolute;
  top: 0px;
  right: 0px;
  margin-left: auto;
  background: transparent;
  margin-top: 0;
}

.toggle_switch {
  width: 70px;
  height: 30px;
  position: relative;
}

input[type='checkbox'].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing 0.35s ease-in-out forwards;
  animation: resetRing 0.35s ease-in-out forwards;
}

input[type='checkbox'].switch_3:checked + svg.checkbox .outer-ring {
  -webkit-animation: animateRing 0.35s ease-in-out forwards;
  animation: animateRing 0.35s ease-in-out forwards;
}

input[type='checkbox'].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
}

input[type='checkbox'].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
  transform: translateX(-200%) rotate(180deg);
}

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked {
  opacity: 0;
  fill: var(--white-color);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
  transform: translateX(200%) rotate(45deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@-webkit-keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--accent-color);
  }
}

@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--accent-color);
  }
}

@-webkit-keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--accent-color);
  }
}

@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--accent-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_mobile_black@2x.jpg);
  }
}

@media screen and(min-width:768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_tablet_black.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_tablet_black@2x.jpg);
  }
}
@media screen and(min-width:1024px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_desktop_black.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_desktop_black@2x.jpg);
  }
}
.navigation {
  display: flex;
}
.filmoteka {
  display: flex;
  margin-right: 40px;
}
.logoName {
  display: none;
}
.headerList {
  display: flex;
  margin-right: -40px;
}
.headerItem {
  margin-right: 40px;
  margin-top: 9px;
}
.navgationLink {
  display: flex;
  text-align: center;
}
.navTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.modal-form-input {
  position: relative;
  width: 90%;
  height: 20px;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 41px;
  color: var(--white-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #cccc;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

.input-label {
  border-style: none;
}
.input-form {
  width: 100%;
}
.navigationLink {
  margin-right: 39px;
}
.header .container {
  background-color: initial;
  display: flex;
  flex-wrap: wrap;
}
.input-form {
  position: relative;
}
.formBtn {
  bottom: 0px;
  right: 0px;
  display: inline-block;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
}

.magnifier {
  position: absolute;
  bottom: 5px;
  right: 0px;
  display: inline-flex;
  margin-left: auto;
}
.search {
  border-bottom: 0.5px solid white;
}
.headerItem {
  position: relative;
}
.navigationLink.current::after {
  content: '';
  position: absolute;
  top: 13px;
  left: -1px;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #ff6b08;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 300ms, transform 300ms;
}

@media screen and(min-width:768px) {
  .header .container {
    display: flex;
    flex-wrap: wrap;
  }
  .switch_box {
    max-width: 60px;
    min-width: 60px;
    height: 50px;
  }
  .logoName {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white-color);
  }
  .logotype {
    display: flex;
    align-items: baseline;
    margin-right: 200px;
  }
  .navTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
  .filmoteka {
    display: flex;
    margin-right: 10px;
  }
  .navigation {
    display: flex;
  }
  .input-form {
    width: 336px;
    margin: auto;
  }
}
@media screen and(min-width:1024px) {
  .logotype {
    margin-right: 400px;
  }
}
