.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  //width: 100%;
  background: var(--white-color);
  opacity: 1;
  //скролл по х пока оставляю
  overflow-x: auto;
  z-index: 100;
  //height: 92%;
  max-height: 100%;
  min-width: 280px;
  padding: 41px 20px 48px 20px;

  @extend %transition;
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(-360deg);
}

.about-close {
  position: absolute;
  /* background: var(--white-color); */
  background-color: transparent;
  cursor: pointer;
  @extend %transition;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  //fill: var(--title-color);

  border: none;

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.close-icon {
  content: '';
  height: 14px;
  width: 14px;
}

.movie {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.film-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

img {
  display: block;
  margin: 0;
}
.picture {
  display: block;
  width: 240px;
  height: 356.57px;
  margin-right: 0;

  border-radius: 5px;
}
.about-form {
  display: flex;
  flex-direction: column;
}

.movie-info-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--title-color);
  text-transform: uppercase;
}

// .movie-info {
//   display: flex;
//   flex-direction: row;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 16px;
//   margin-bottom: 20px;
// }

.info-criteria {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.info-criteria-item {
  color: var(--modal-color);
  min-width: 110px;
  //width: 50%;

  &:last-child {
    margin-bottom: 0;
  }
}

.info-criteria-genre {
  display: flex;
  flex-wrap: wrap;
}

.info-api-item {
  color: var(--title-color);
  display: flex;
  //flex-direction: start;
  direction: stylelint-disable-next-line;
  //margin-left: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.movie-about {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-color);
}

.movie-text {
  display: block;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.movie-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
.film-raiting-accent {
  display: flex;
  width: 36px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
//запятые между жанрами
.try:after {
  content: ', ';
  margin-right: 4px;
}
//после последнего убираю
.try:last-child:after {
  content: '';
  margin-right: 0;
}
.film-raiting-slash {
  margin-right: 5px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    display: flex;
    min-width: 618px;

    padding: 40px 28px 42px 30px;
    //overflow: hidden;
  }
  .modal-wrapper {
    display: flex;
  }
  .film-picture {
    width: 264px;
    margin-right: 32px;
    /*  background-size: cover; */
  }
  .picture {
    min-width: 264px;
    min-height: 383.55px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    display: flex;
    width: 882px;

    padding: 40px 30px 50px 30px;
  }
  .modal-wrapper {
    display: flex;
  }
  .film-picture {
    max-width: 396px;
    margin-right: 30px;
  }
  .picture {
    width: 396px;
    height: 478px;
    // object-fit: cover;
    object-fit: contain;
  }
  .movie-info-title {
    font-size: 30px;
  }
}

/* .film-picture {
    margin-right: 30px;
  }
  .picture {
    max-width: 396px;
    height: 477.8px;
  } */
